$(".submission").html("<%= escape_javascript(render("users")) %>");
$('.submission').slideDown('slow', function(){
	$(this).append("<p class='f-right segoe'>Thank you for submitting your comment it should appear on the relevant profile within 48 hours</p>");
});
