/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.width_750{
  width:750px;
}
.height_20{
  height:20px;
}
.height_40{
  height:40px;
}
.height_60{
  height:60px;
}
.height_80{
  height:80px;
}
.height_100{
  height:100px;
}
.bdr{
    border: solid 1px #000;
}
.mT20 {margin-top: 20px;}
.mT40 {margin-top: 40px;}

.seperator{
    border-top: solid 1px #7a5e45;
}

h2{
    font-weight: normal;
    font-size: 24px;
    font-family: Arial;
    color: #ca0809;
}
p, ul, li{
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
    color: #5b5b5b;
}

.first{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
    color: #fb8f26;
    text-align: center;
}
.second{
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
    color: #ffb200;
    text-align: center;
}
.third{
    font-weight: normal;
    font-size: 12px;
    font-family: Arial;
    color: #599513;
    text-align: center;
}
.forth{
    font-weight: normal;
    font-size: 12px;
    font-family: Arial;
    color: #599513;
    text-align: center;
}