/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.bdr{
    border: solid 1px #000;
}
.mT20 {margin-top: 20px;}
.mT40 {margin-top: 40px;}

.seperator{
    border-top: solid 1px #7a5e45;
}
#mL2 { margin-left: 2px;}

h2{
    font-weight: normal;
    font-size: 24px;
    font-family: Arial;
    color: #ca0809;
}
h6{
	color: #ca0809;
	font-family: Arial;
}
p, ul, li{
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
    color: #5b5b5b;
}